.about .container {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    column-gap: 24px;
    margin-bottom: 180px;
}

.about__column {
    justify-self: center;
}



.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
    margin-top: 35px;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    color: #000;
    font-size: 40px;
    padding: 135px 0 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about__text p {
    font-size: 20px;
    width: 693px;
}